    /* uility */
    
    a {
        text-decoration: none;
    }
    
    .button-slm {
        color: #fff;
        padding: 8px 16px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        font-weight: 600;
    }
    
    .orange {
        background-color: #cd3d0f;
    }
    
    .blue {
        background-color: #0072ce;
    }
    
    .grey-text {
        color: #7b7b7b;
        font-size: 18px;
        font-weight: 600;
    }
    /* inizio customizzazione navbar */
    
    .black {
        background-color: #000;
    }
    
    .sony-logo-container {
        width: 100px;
        margin: 12px 0;
    }
    
    .sony-logo-container img {
        width: 100%;
    }
    
    .navbar-light .navbar-nav .nav-link.grey-button {
        color: #fff;
        background-color: #363636;
        padding: 8px 16px;
        border-radius: 20px;
        text-align: center;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: #000;
        margin: 0 5px;
    }
    
    .nav-link .fa-chevron-down {
        color: #999;
        margin-left: 2px;
        font-size: 10px;
    }
    /* inizio header */
    
    header {
        padding-top: 400px;
        padding-bottom: 48px;
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        background-position: center;
    }
    
    .header-logo-container {
        width: 70%;
    }
    
    .header-logo-container img {
        width: 100%;
    }
    
    .jumbo-content {
        color: #fff;
        font-weight: bold;
    }
    /* inizio main sezione con immagini giochi */
    
    .box-mini-games {
        border-radius: 20px;
        border: 2px #fff solid;
    }
    
    .box-mini-games-inner {
        border-radius: 20px;
        border: 2px #fff solid;
        overflow: hidden;
    }
    
    .box-mini-games:hover {
        border-color: #0072ce;
    }
    
    .box-mini-games img {
        width: 100%;
        border-radius: 10px;
    }
    /* inizio sezione presentazione ps5 */
    
    #blue-text {
        color: #0072ce;
        font-weight: 600;
    }
    /* inizio sezione info ps5 */
    
    .img-ps5-info {
        width: 100%;
    }
    
    .img-ps5-info img {
        width: 100%;
    }
    /* inizio sezione gadget */
    
    .Gaget {
        opacity: 0.5;
    }
    
    .img-gadget-container {
        width: 100%;
    }
    
    .img-gadget-container img {
        width: 100%;
        height: 80%;
    }
    
    .Gaget:hover {
        border-bottom: 2px solid #0072ce;
        opacity: 1;
    }
    
    @media only all and (max-width: 768px) {
        .img-gadget-container h4 {
            display: none;
        }
    }